<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" 
             Name="WinEnvEdit" 
             Language="1033" 
             Version="$(var.Version)" 
             Manufacturer="meop" 
             UpgradeCode="7db8a2b1-1234-4abc-8def-123456789abc">
        
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="$(var.Platform)" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="WinEnvEdit" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>

        <Icon Id="AppIcon" SourceFile="$(var.SourceDir)\Assets\app.ico" />
        <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.ProgramFilesId)">
                <Directory Id="INSTALLFOLDER" Name="WinEnvEdit" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <Component Id="MainExecutable" Guid="*" Directory="INSTALLFOLDER">
                <File Id="WinEnvEditEXE" Source="$(var.SourceDir)\WinEnvEdit.exe" KeyPath="yes" />
                <Shortcut Id="StartMenuShortcut" 
                          Directory="ProgramMenuFolder" 
                          Name="WinEnvEdit" 
                          WorkingDirectory="INSTALLFOLDER" 
                          Icon="AppIcon" 
                          Advertise="yes" />
            </Component>
            <ComponentGroupRef Id="HarvestedComponents" />
        </ComponentGroup>
    </Fragment>
</Wix>
